<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-button expand="full" color="primary" (click)="enviarFormulario()">Enviar Formulario</ion-button>
  
 
  <ion-button expand="full" color="secondary" (click)="cancelarOperacion()">Cancelar</ion-button>
  
 
  <ion-button expand="full" color="tertiary" (click)="mostrarInformacion()">Mostrar Información</ion-button>
</ion-content>

